@font-face {
  font-family: 'Versiculum';
  font-style: normal;
  font-weight: normal;
  src: url('versiculum.ttf') format('truetype');
}
.sans{font-family:Verdana,Helvetica,sans-serif}
.b{font-weight:700}
.i{font-style:italic}
.sc{font-variant:small-caps}
.trans {font-size:15px;}
.versiculum{font-family: 'Versiculum';font-variant:normal;font-size: 140%;}
@media print {
  .print-hide{
    display:none;
  }
  body{
    max-width:8in;
  }
}