@font-face {
  font-family: 'Versiculum';
  font-style: normal;
  font-weight: normal;
  src: url('versiculum.ttf') format('truetype');
}
.red {
  color: red;
}
body {
  font-family: 'Crimson Text', serif;
  font-size: 13pt;
}
.sans{font-family:Verdana,Helvetica,sans-serif}
.b{font-weight:700}
.i{font-style:italic}
.sc{font-variant:small-caps}
.trans {font-size:15px;}
.versiculum{font-family: 'Versiculum';font-variant:normal;font-size: 140%;color:red;}
@media print {
  .print-hide{
    display:none;
  }
  body{
    max-width:8in;
  }
}
tspan[style="font-family:'Exsurge Characters';fill:#f00;"] {
  font-family: 'Versiculum'!important;
  font-variant:normal;
  font-size: 140%;
  text-transform: lowercase;
}